

@media (max-width:1100px){
    .app__content{
        flex-direction: column;
        .app__models{
            width:auto;
            padding: 0 0 0 20px;
        }
        .app__offers{
            width:100%;
        }
    }
    .models__list{
        display:flex;
        div{
            margin:auto 10px auto 0 !important;
        }
    }
    .offer--sold span{
        font-size:600%;
    }
    .price__desc, .price__desc--hot{
        font-size:$xs-size !important;
    }
    .price__amount{
        font-size:$m-size !important;
        sup{
            font-size:5px !important;
        }
    }
    .offer__prices-container .price__amount--hot{
        font-size:$l-size !important;
    }
}

@media(max-width:850px){
    
    .offer__container{
        flex-wrap:wrap;
        .offer__image-container{
            width:70%;
            img{
                height:275px;
            }
        }
        .offer__info-container{
            order:5;
            width:100%;
        }
        .offer__prices-container{
            width:30%;
        }
    }
    .price__desc, .price__desc--hot{
        font-size:7px !important;
        text-shadow: none !important;
    }
    .price__amount{
        font-size:$s-size !important;
    }
    .offer__prices-container .price__amount--hot{
        font-size:14px !important;
        text-shadow: 0.5px 0 $color-red !important;
    }
    .offer__prices-container{
        min-width:auto;

    }
    
}
@media(max-width:500px){
    .app__header{
        padding:15px;
    }
    .offer--sold span{
        font-size:300%;
    }
    .app__content{
        padding:5px;
    }
    .offer__container .offer__image-container, .offer__container .offer__prices-container{
        width:100%;
    }
    .offer__container .offer__image-container img{
        height:100%;
        min-height:150px;
    }
    .offer__container .offer__info-container{
        order:2;
        min-width:200px;
        padding:12px;
    }
    .price__desc, .price__desc--hot{
        font-size:$s-size !important;
    }
    .price__amount{
        font-size:$m-size !important;
    }
    .offer__prices-container .price__amount--hot{
        font-size:$l-size !important;
        text-shadow: 1px 0 $color-red !important    ;
    }
}

@media (min-width:2000px){

    .app__header{
        padding-right:90px;
    }
    .app__header .header__title{
        font-size:$xxxl-size;
    }
    .models__header,.header__sort,.header__sort span{
        font-size:$xxl-size !important;
    }
    .header__sort button{
        width:200px;
    }
    .header__sort button span{
        width:200px !important;
        padding-right:40px;
    }
    .app__models{
        
        font-size:$xxl-size !important;
        .form-check-label{
            margin-left:10px;
        }
        .form-check-input{
            transform:scale(3) !important;
            // margin-right:10px;
        }
    }
    .offer__info-container{
        .offer__info__header{
            font-size:$xxl-size;
        }
        .offer__info__desc{
            font-size:$xl-size;
            .desc__name{
                min-width:250px;
            }
        }
    }
    .offer__prices-container{
        .price__desc, .price__desc--hot{
            font-size:$xl-size !important;
        }
        .price__amount{
            font-size:$xl-size !important;
        }
        .price__amount--hot{
            font-size:$xxxl-size !important;
        }
        .price__button{
            font-size:$xxl-size;
        }
    }
    
}

@media(min-width:2800px){
    .offer__info-container{
        .offer__info__header{
            font-size:$xxxl-size;
        }
        .offer__info__desc{
            font-size:$xxl-size;
            .desc__name{
                min-width:350px;
            }
        }
    }
    .offer__prices-container{
        .price__desc, .price__desc--hot{
            font-size:$xxxl-size !important;
        }
        .price__amount{
            font-size:$xxxl-size !important;
        }
        .price__amount--hot{
            font-size:$xxxxl-size !important;
        }

    }
}

