@import './components/settings';
@import './components/offers';
@import './components/menu';
@import './components/media';
body{
    background:#F6F6F6 !important;
    font-family: 'Montserrat', sans-serif !important;
    color:$main-text-color !important;
}


